.button {
  padding: 14px 28px;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;

  color: $text-color-light;
  font-weight: 600;
  font-size: 16px;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &_accent {
    background-color: $color-accent;
    color: $text-color-shadowed;

    border-radius: 8px;
    text-transform: capitalize;
  }

  &_form {
    background-color: $color-accent;
    color: $text-color-shadowed;

    border-radius: 8px;
    text-transform: capitalize;

    padding: 14px 36px;
  }

  &_transparent-accent {
    background: $bg-color;
    border: 1px solid $text-color-thin;
    border-radius: 8px;

    font-weight: 500;
    font-size: 20px;

    color: $color-accent;

    padding: 18px 38px;
  }
}
