.form {
  position: relative;
  padding: 8px 12px;
  margin: 0;
  box-sizing: border-box;

  @include gradientBorderSetUp();

  background: linear-gradient(#232a2f, #232a2f) padding-box,
    linear-gradient(to right, rgba(256, 256, 256, 0.1), rgba(256, 256, 256, 0)) border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  &__img {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &_search {
      background-image: url("~/src/images/search.png");
    }
  }

  &__input {
    flex-grow: 1;

    background-color: transparent;
    border: 0;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 14px;
    color: $text-color-light;

    padding-block: 10px;
  }

  &__submit {
    padding: 14px 28px;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    background-color: transparent;

    color: $text-color-light;
    font-weight: 600;
    font-size: 16px;

    cursor: pointer;

    background-color: $color-accent;
    color: $text-color-shadowed;

    border-radius: 8px;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
    }
  }
}
